/* file: src/components/VideoGrid/VideoGridHeader/VideoGridHeader.scss */
.video-grid-header {
  padding-bottom: 24px;
  padding-top: 14px;
  
  .video-category-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
