@import "../../styles/shared.scss";

.home {
  margin-top: $header-nav-height;
  margin-left: $sidebar-left-width;
  display: grid;
  grid: auto/auto;
  justify-content: center;

  .video-grid-container h4 {
    margin-top: 20px;
    padding-left: 20px;
  }
}
