.video-container { /* parent */
    position: relative;
    width: 100%;
    height: 355px;
    &:before {
      content: "";                  /* empty string because we want to use it to create the correct spacing */
      display: block;               /* By default psuedo elements are inline, and inline elements ignore maring an padding, yeah? */
      padding-top: 56.25%;          /*  9 / 16 = 0.5625 = 56.25%. So it gives us the desired 16:9 ratio */
    }
  
    .video {
      position: absolute;   /* Child */
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  
      .video-player {
        min-height: 480px;
        width: 100%;
        height: 100%;
      }
    }
  }