@import './../../styles/shared.scss';

.ui.menu.fixed.side-nav {
    background-color: #f5f5f5;
    margin-top: 64px; // to make room for the logo
    overflow-y: auto;
    padding-bottom: 64px;
    margin-top: $header-nav-height;
    padding-bottom: $header-nav-height;

    .sidebar-item-alignment-container {
        color: #4c4d4f;
    }

    .sidebar-item:hover {
        background: #ebebeb;
    }

    .divider-color {
        border-bottom-color: rgba(255, 255, 255, 0.9);
    }
}

.side-nav.ui.vertical.menu {
    width: 17rem; // same width as the logo
}